<div class="container">
  <h1>Create New Product</h1>
  <hr />
  <div *ngIf="errorMessage !== ''" class="errMessage">
    <h5>{{ errorMessage }}</h5>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <div style="width: 400px">
      <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
          <label for="windowType">Window Type</label>
          <input
            required
            type="text"
            name="windowType"
            class="form-control"
            placeholder="Enter window type name here"
            ngModel
          />
          <label for="price">Price</label>
          <input
            required
            type="number"
            name="price"
            class="form-control"
            placeholder="Enter price here"
            min="1"
            ngModel
          />
          <label for="description">Description</label>
          <textarea
            required
            type="text"
            name="description"
            class="form-control"
            placeholder="Enter description here"
            ngModel
          >
          </textarea>
        </div>
        <hr />
        <div *ngIf="response !== ''" class="image-wrapper">
          <img [src]="createImgPath(response)" />
        </div>
        <br />
        <app-image-upload
          (onUploadFinished)="uploadFinished($event)"
        ></app-image-upload>
        <hr />
        <div class="buttons">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!productForm.valid"
          >
            Create
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/cms/product/list"
          >
            Back to List
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
