<div class="container">
  <h1>Create New Product</h1>
  <hr />
  <div *ngIf="errorMessage !== ''" class="errMessage">
    <h5>{{ errorMessage }}</h5>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <div style="width: 400px">
      <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
          <label for="windowType">Window Type</label>
          <input
            required
            type="text"
            name="windowType"
            class="form-control"
            placeholder="Enter window type name here"
            ngModel #windowType="ngModel"
          />
          <p class="error-message" *ngIf="windowType.touched && windowType.dirty && windowType.errors?.required">Window type field is required.</p>
          <label for="price">Price $</label>
          <input
            required
            type="number"
            name="price"
            class="form-control"
            placeholder="Enter price here"
            min="1"
            max="100"
            maxlength="3"
            ngModel #price="ngModel"
          />
          <p class="error-message" *ngIf="price.touched && price.dirty && price.errors?.required">Price field is required</p>
          <p class="error-message" *ngIf="price.errors?.max">Max value cannot be higher than {{price.errors?.max.max}}</p>
          <p class="error-message" *ngIf="price.errors?.min">Min value cannnot be less than {{price.errors?.min.min}}</p>
          <label for="description">Description</label>
          <textarea
            required
            type="text"
            maxlength="150"
            name="description"
            class="form-control"
            placeholder="Enter description here"
            ngModel #description="ngModel"
          >
          </textarea>
          <p class="error-message" *ngIf="description.touched && description.dirty && description.errors?.required">Descritiopn field is required</p>
        </div>
        <hr />
        <ng-container *ngIf="response === ''">
          <div id="upload-image">
            <label >Please upload image</label>
          </div>
        </ng-container>
        <div *ngIf="response !== ''" class="image-wrapper">
          <img [src]="createImgPath(response)" />
        </div>
        <br />
        <app-image-upload
          (onUploadFinished)="uploadFinished($event)"
        ></app-image-upload>
        <hr />
        <div class="buttons">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!productForm.valid || response === ''"
          >
            Create
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/cms/product/list"
          >
            Back to List
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
