<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/home-page']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Orona Services</a
    >
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse d-lg-flex justify-content-lg-between"
      id="collapseNav"
      [collapse]="!isCollapsed"
      [isAnimated]="true"
    >
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home-page" routerLinkActive="active"
          >Home</a
        >
        <a
          class="nav-link"
          routerLink="/cms/product/list"
          routerLinkActive="active"
          >Admin</a
        >
        <a
          class="nav-link"
          routerLink="/shop/product/list"
          routerLinkActive="active"
          >Shop</a
        >
        <a class="nav-link" 
          routerLink="/shop/cart" 
          routerLinkActive="active"
          ><span class="material-symbols-outlined">
            shopping_cart
            </span></a
        >
        <a id="free" class="nav-link" 
          routerLink="/estimate" 
          routerLinkActive="active"
          >Free estimate</a
        >
      </div>
      <div *ngIf="!isUserAuthenticated" class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/authentication/login"
          routerLinkActive="active"
          >Login</a
        >
        <a
          class="nav-link"
          routerLink="/authentication/register"
          routerLinkActive="active"
          >Register</a
        >
      </div>
      <div *ngIf="isUserAuthenticated" class="navbar-nav">
        <a class="nav-link" routerLink (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
