.navbar {
  background-color: #27812a;
}

.navbar-brand {
  color: white;
}

a {
  font-weight: bold;
}

.active {
  font-weight: bold;
  font-style: italic;
  color: azure;
}

.nav-link {
  color: white;
}

.nav-link.active {
  color: white;
}

.navbar-nav {
  align-items: center;
}

#free {
  color: orange;
}

#hello {
  color: white;
}