.navbar {
    background-color: #215a06;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .active {
    font-weight: bold;
    font-style: italic;
    color: #fff;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link.active {
    color: white;
  }
  
  
  
  
  
  