<div class="container">
  <h1>Edit Product</h1>
  <hr />
  <div *ngIf="errorMessage !== ''" class="errMessage">
    <h5>{{ errorMessage }}</h5>
  </div>
  <div id="product-box">
    <div class="product-box">
      <form
        *ngIf="productDetails"
        #productForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="text-center">
          <h2>{{ productDetails.windowType }}</h2>
          <label for="price">Price</label>
          <input
            required
            type="number"
            name="price"
            class="form-control"
            placeholder="Enter price here"
            min="1"
            max="100"
            maxlength="3"
            #price="ngModel"
            [(ngModel)]="productDetails.price"
          />
          <p
            class="error-message"
            *ngIf="price.touched && price.dirty && price.errors?.required"
          >
            Price field is required
          </p>
          <p class="error-message" *ngIf="price.errors?.max">
            Max value cannot be higher than {{ price.errors?.max.max }}
          </p>
          <p class="error-message" *ngIf="price.errors?.min">
            Min value cannnot be less than {{ price.errors?.min.min }}
          </p>
          <label for="description">Description</label>
          <textarea
            required
            type="text"
            maxlength="150"
            name="description"
            class="form-control"
            placeholder="Enter description here"
            #description="ngModel"
            [(ngModel)]="productDetails.description"
          >
          </textarea>
          <p
            class="error-message"
            *ngIf="
              description.touched &&
              description.dirty &&
              description.errors?.required
            "
          >
            Descritiopn field is required
          </p>
        </div>
        <hr />
        <div *ngIf="response !== ''; else elseBlock">
          <div class="text-center">
            <div>
              <h5>New Image</h5>
            </div>
            <div class="image-wrapper">
              <img [src]="createImgPath(response)" />
            </div>
          </div>
        </div>

        <ng-template #elseBlock>
          <div class="text-center">
            <div>
              <h5>Current Image</h5>
            </div>
            <div class="image-wrapper">
              <img [src]="createImgPath(productDetails.imageUrl)" />
            </div>
          </div>
        </ng-template>
        <br />
        <app-image-upload
          [id]="id"
          (onUploadFinished)="uploadFinished($event)"
        ></app-image-upload>
        <hr />
        <div class="buttons">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!productForm.valid"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/cms/product/list"
          >
            Back to List
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
