label {
    font-weight: bold;
}

em{
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched{
    border-color: red;
}

.card{
    margin-top: 10px;
    background-color: azure;
    box-shadow: 3px 3px 6px #cabcbc;
}

#buttons {
    display: flex;
}