.form-box {
    width: 375px;
    text-align: center;
}

h2 {
    font-weight: bold;
}

label {
    font-size: large;
    font-weight: bold;
}

#button {
    padding-top: 20px;
    text-align: right;
}

input.ng-invalid.ng-touched {
    border: 1px red solid;
}

textarea.ng-invalid.ng-touched {
    border: 1px red solid;
}

form > p {
    color: rgb(21, 0, 255);
}