.container {
  padding: 30px;
  text-align: center;
}

.hello {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

#hello-text {
  color: white;
}

@media (max-width: 768px) {
  .hello {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  #hello-text {
    text-align: center;
    padding-top: 70px;
  }
}

#logo {
  text-align: center;
}

#logo > img {
  justify-content: center;
  height: auto;
  width: 250px;
}

#second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  #second {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 70px;
  }

  .container {
    padding: 50px 0;
  }

  .estimate-request {
    padding-top: 70px;
  }
}

.why-us > h2 {
  font-weight: bold;
}

.estimate-request {
  display: flex;
  justify-content: center;
}

.why-us > p {
    font-size: 25px;
    text-align: start;
    padding-left: 20px;
}

.material-symbols-outlined {
    color: green;
    font-size: 35px;
}
