<div class="container">
  <div class="hello">
    <div id="logo">
      <img src="assets/OronaLogoWhite.svg" />
    </div>
    <div id="hello-text">
      <h2>
        We provide the best window cleaning service in The Greater New York City
        Area.
      </h2>
    </div>
  </div>
  <div id="second">
    <div class="why-us">
      <h2>Why us?</h2>
      <p><span class="material-symbols-outlined"> check_box </span> High-quality service</p>
      <p><span class="material-symbols-outlined"> check_box </span> Fully insured</p>
      <p><span class="material-symbols-outlined"> check_box </span> Properly trained team</p>
      <p><span class="material-symbols-outlined"> check_box </span> Always on time</p>
      <p><span class="material-symbols-outlined"> check_box </span> Flexible prices</p>
    </div>
    <div class="estimate-request">
      <app-free-estimate></app-free-estimate>
    </div>
  </div>
</div>
