<div class="container">
  <div id="logo">
    <img src="assets/OronaLogoWhite.svg" />
  </div>
  <h2 class="p-5 text-white">
    We provide the best window cleaning service in The Greater New York City
    Area.
  </h2>
  <div class="d-flex justify-content-center">
    <div class="why-us pt-5" style="width: 300px">
      <h2>Why us?</h2>
      <p class="d-flex align-items-center">
        <span class="material-symbols-outlined"> check_box </span> High-quality
        service
      </p>
      <p class="d-flex align-items-center">
        <span class="material-symbols-outlined"> check_box </span> Fully insured
      </p>
      <p class="d-flex align-items-center">
        <span class="material-symbols-outlined"> check_box </span> Properly
        trained team
      </p>
      <p class="d-flex align-items-center">
        <span class="material-symbols-outlined"> check_box </span> Always on time
      </p>
      <p class="d-flex align-items-center">
        <span class="material-symbols-outlined"> check_box </span> Flexible prices
      </p>
    </div>
  </div>
  <div class="estimate-request pt-5">
    <app-free-estimate></app-free-estimate>
  </div>
</div>
